{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome, {{ app.user.email }}!</h1>
    <p>This is the home screen for authenticated users.</p>
    <!-- Add content for authenticated users here -->
{% endblock %}
