{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome to our website!</h1>
    <p>You are not signed in. Please sign in or register to continue.</p>
    <div>
        <a href="{{ path('app_login') }}" class="btn btn-primary">Sign In</a>
        <a href="{{ path('app_register') }}" class="btn btn-secondary">Register</a>
    </div>
    <!-- Add additional content for guests here -->
{% endblock %}
